{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/488146a138.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'main/media/technical/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/media/technical/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/media/technical/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'main/media/technical/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'main/media/technical/safari-pinned-tab.svg' %}" color="#2d8693">
    <link rel="shortcut icon" href="{% static 'main/media/technical/favicon.ico' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/other.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/themes-desktop.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/themes-mobile.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/posts-desktop.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/posts-mobile.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/header-desktop.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'main/css/header-mobile.css' %}">
    <meta name="msapplication-TileColor" content="#2d8693">
    <meta name="msapplication-config" content="Webforum/main/static/main/media/technical/browserconfig.xml">
    <meta name="theme-color" content="#2d8693">
</head>
<body>

<div class="container">{% block content %}{% endblock %}</div>
<script>Fancybox.bind("[data-fancybox]", {});</script>
</body>
</html>