{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block user_id %}
{{ user.pk }}
{% endblock %}

{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<h1 class="headers-text-style-one">Темы</h1>
{% if themes %}
{% for theme in themes %}
    <div class="theme-container">
        {% if theme.media %}
            <img src="{{ theme.media.url }}" alt="Медиа-вложение темы" class="theme-image">
        {% endif %}
        <div class="theme-text-container">
            <h3 class="headers-text-style-two">{{ theme.header }}</h3>
            <p class="plain-text-style">{{ theme.text }}</p>
            <p class="plain-text-style">Автор: <a href="{% url '/accounts/profile' theme.author_id %}" class="">{{theme.author_id}}</a><br>Дата создания темы: {{ theme.time_create }}</p>
            <a href="{{ theme.get_absolute_url }}" class="into-theme-button">В тему</a>
        </div>
    </div>
{% endfor %}
{% else %}
<div class="alert-danger alert mt-2">
    <p>Тем нет</p>
</div>
{% endif %}
{% endblock %}