.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 40px;
}

.header-link-logo {
    color: rgb(45, 134, 147);
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    margin: 10px 30% 10px 10px;
    text-decoration: none;
    transition: all 0.7s linear;
    font-size: 22px;
}

.header-link-logo:hover {
    color: white;
    background-color: rgba(45, 134, 147, 0.9);
    transition: all 0.3s linear;
}

.header-link {
    color: rgb(45, 134, 147);
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 20px 10px 20px;
    text-decoration: none;
    transition: all 0.7s linear;
    max-height: 30px;
    align-self: center;
}

.header-link:hover {
    color: white;
    background-color: rgba(45, 134, 147, 0.9);
    transition: all 0.3s linear;
}

.header-link-logo svg path {
    transition: all 0.7s linear ;
}

.header-link-logo:hover svg path {
    stroke: white;
    transition: all 0.3s linear;
}