.themes-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-theme-button {
    border-radius: 15px;
    color: white;
    text-decoration: none;
    padding: 8px;
    transition: all 0.7s linear;
}

.add-theme-button:hover {
    color: rgb(45, 134, 147);
    background-color: white;
    transition: all 0.3s linear;
}

.theme-container {
    background-color: white;
    display: flex;
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.theme-text-container {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.theme-image {
    width: 300px;
    height: 100%;
    margin: 20px;
}

.pictureless-theme {
    margin-left: 240px;
}

.into-theme-button {
    align-self: flex-end;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    margin-right: 20px;
    color: rgb(45, 134, 147);
    background-color: white;
    border-radius: 10px;
    max-width: 90px;
    text-align: center;
    transition: all 0.7s linear;
}

.into-theme-button:hover {
    transition: all 0.3s linear;
    color: white;
    background-color: rgb(45, 134, 147);
}

.theme-author-button {
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 5px;
    color: rgb(45, 134, 147);
    background-color: white;
    border-radius: 10px;
    max-width: 90px;
    text-align: center;
    transition: all 0.7s linear;
}

.theme-author-button:hover {
    transition: all 0.3s linear;
    color: white;
    background-color: rgb(45, 134, 147);
}